<div class="page page-table-static clearfix">

	<ol class="breadcrumb breadcrumb-small">
		<li>饲料使用</li>
	</ol>

	<div class="page-wrap">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-lined mb30 table-responsive">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6 left">
								<div class="btn-group btn-group-sm">
				                    <button type="button" class="btn btn-default" btn-checkbox ng-model="tableModel.bordered">边框</button>
				                    <button type="button" class="btn btn-default" btn-checkbox ng-model="tableModel.striped">条纹</button>
				                    <button type="button" class="btn btn-default" btn-checkbox ng-model="tableModel.condensed">浓缩</button>
				                </div>
							</div>
							<div class="col-lg-3 right">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" placeholder="请输入饲料名称">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default">搜索</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<table class="table" ng-controller="ResponsiveTableDemoCtrl"
						ng-class="{ 
							'table-bordered': tableModel.bordered, 
							'table-striped': tableModel.striped,
							'table-condensed': tableModel.condensed,
							'table-hover': tableModel.hover }">
						<thead>
							<tr>
								<th class="col-lg-1"><button type="button" class="btn btn-default btn-sm fa fa-trash"></th>
								<th>Post</th>
								<th>Author</th>
								<th>Categories</th>
								<th>Tags</th>
								<th class="col-lg-2">Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in responsiveData">
								<td>
									<div class="ui-checkbox ui-checkbox-primary">
										<label><input type="checkbox"><span></span>
										</label>
									</div>
								</td>
								<td>{{data.post}}</td>
								<td>{{data.author}}</td>
								<td>{{data.categories}}</td>
								<td>
									<label class="label label-{{data.tagColor}} mr5" ng-repeat="tag in data.tags">{{tag}}</label>
								</td>
								<td>{{data.date}}</td>
							</tr>
						</tbody>
					</table>

					<div class="panel-footer clearfix">
						<pagination boundary-links="true" total-items="60" ng-model="currentPage" class="pagination-xs right" 
						previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- #end page-wrap -->
</div>